.calendar-container {
	width: 60%;
	min-width: 315px;
	font-size: 1.5rem;
}

.calendar-container h1 {
	font-size: 4.5rem;
	font-family: 'Oxanium', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.2rem;
}

.calendar-month-year {
	display: flex;
	align-items: center;
	margin: 3rem 0 3rem 2rem;
}

.calendar-month-year div:nth-child(1) {
	display: flex;
}

.calendar-month-year div:nth-child(2) {
	display: flex;
	column-gap: 2rem;
	margin-left: auto;
}

.calendar-month-year button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--bg-btn-color);
	border: 1px solid var(--border-btn-color);
	transition: background-color 0.4s;
}

.calendar-month-year button:hover {
	background-color: var(--main-color);
}

.calendar-month-year i {
	font-size: 2rem;
}

.calendar-month-year h2 {
	font-size: 2.2rem;
}

.calendar-month-year h2:nth-child(2) {
	margin-left: 1rem;
}

.calendar-daysofweek {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.calendar-daysofweek span {
	color: #9999;
	text-align: center;
}

.calendar-daysofmonth {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(7, 1fr);
	row-gap: 1rem;
}

.calendar-daysofmonth-hidden {
	visibility: hidden;
}

.calendar-daysofmonth button {
	position: relative;
	width: 70%;
	aspect-ratio: 1/1;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
	transition: background-color 0.1s, box-shadow 0.2s;
}

.calendar-daysofmonth button.curr-day {
	background-color: var(--main-color);
	box-shadow: 0 0 0.3rem 0 #535e59;;
}

.calendar-daysofmonth button.selected-day,
.calendar-daysofmonth button:hover {
	background-color: var(--selected-day);
	box-shadow: 0 0 0.3rem 0 #000000;
}

.event-counter {
	position: absolute;
	top: -5px;
	right: -4px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 17px;
	width: 18px;
	background-color: #e1002d;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 0.9rem;
}

@media (max-width: 1200px) {
	.calendar-month-year {
		align-items: baseline;
		flex-direction: column;
		column-gap: 1rem;
		margin: 3rem 0 1.5rem 0.5rem;
	}

	.calendar-month-year div:nth-child(2) {
		margin: 0;
	}

	.event-counter {
		top: -6px;
		right: -8px;
	}
}

@media (max-width: 768px) {
	.calendar-container {
		display: flex;
		justify-content: space-around;
		width: 100%;	
	}

	.calendar-container div:nth-of-type(1) {
		width: 55%;
		min-width: 315px;
	}

	.calendar-container h1 {
		writing-mode: vertical-rl;
		text-orientation: upright;
		font-size: 3rem;
		letter-spacing: 1.1rem;
	}

	.calendar-month-year {
		align-items: baseline;
		margin: 1.5rem 0 1.5rem 0.5rem;
	}

	.calendar-month-year h2 {
		font-size: 1.8rem;
	}

	.calendar-month-year i {
		font-size: 1.5rem;
	}

	.calendar-daysofweek {
		font-size: 1.2rem;
	}

	.calendar-daysofmonth button {
		font-size: 1.2rem;
	}
}


@media (max-width: 410px) {
	.calendar-container{
		flex-direction: column;
	}

	.calendar-container h1 {
		writing-mode: horizontal-tb;
		text-orientation: sideways;
		font-size: 3rem;
		letter-spacing: 1.1rem;
	}

	.calendar-month-year {
		margin: 1rem 0 1rem 0.5rem;
	}

	.calendar-container div:nth-of-type(1) {
		width: 100%;
		min-width:auto;
	}
}
